.img-auth{
  width: 200px;
}

.img-auths{
  width: 200px;
}

.input-form-wrapper {
  display: flex;
  justify-content: center;
  justify-self: center;
  width: 100%;
  height: 100%;
}

.input-form-wrapper form{
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.input-form-wrapper h1 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #0f172a;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  align-self: center;
}

.pos-one, .pos-two{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  width: 38rem;
  gap: 1rem;  
}

.pos-one{
  margin-top: 20px;
}

/* .pos-two{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
} */

/* editing labels and input fields */

.pos-one label, .pos-two label{
  font-size: 0.65rem;
  font-weight: 500;
  color: #0f172a;
  margin-bottom: 5px;
  font-family: 'Roboto Slab', serif;
  /* margin-right: 5px; */
}

.pos-one input, .pos-two input{
  align-self: center;
  width: 150px;
  height: 5px;
  padding: 10px 12px;
  font-size: 0.95rem;
  color: #0f172a;
  background-color: #ffffff;
  border: 1px solid #94a3b8;
  border-radius: 6px;
  outline: none;
}

.one, .two, .three, .four{
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}

/* .one label, .two label{
  margin-left: 10px;
} */

.input-form-wrapper form button {
  padding: 5px 10px;
  border-radius: 6px;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  width: auto;
  background: #0f172a;
  border: none;
  color: #ffffff;
  padding: 8px 40px;
  cursor: pointer;
  margin-top: 1rem;
  font-size: .7rem;
}

.input-form-wrapper form button:hover {
  background: #f1f5f9;
  border-color: #94a3b8;
  color: #0f172a;
}

/* Link redirection alignment */
.input-form-wrapper p {
  font-size: 0.85rem;
  color: #64748b;
  margin-top: 10px;
  text-align: center;
}

.input-form-wrapper p a {
  color: #16a34a;
  text-decoration: none;
  font-weight: 600;
  /* font-size: 1.1rem; */
}

.input-form-wrapper p a:hover {
  color: #0fa63598;
  text-decoration: underline;
}

.sign-in{
  display: flex;
  flex-direction: column;
}

.pass-label{
  padding: 1rem 0 0 0;
}

.sign-in label{
  font-size: 0.85rem;
  font-weight: 500;
  color: #0f172a;
  margin-bottom: 5px;
  font-family: 'Roboto Slab', serif;
}

.sign-in input{
  align-self: center;
  width: 200px;
  height: 5px;
  padding: 10px 12px;
  font-size: 0.95rem;
  color: #0f172a;
  background-color: #ffffff;
  border: 1px solid #94a3b8;
  border-radius: 0.5rem;

}

.submit-in{
  border-radius: 8.5px;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  width: auto;
  background: #0f172a;
  color: #ffffff;
  height: 40px;
  width: 85px;
  cursor: pointer;
}